<html ng-app="Budgets">
<head>
    <style>
        .neg { color: darkred; }
        .pos { color: darkgreen }
        .transactionRow { cursor: pointer }
        .transactionRow .showOnHover { visibility: hidden }
        .transactionRow:hover .showOnHover { visibility: visible }
        .rowInput { border: none }
    </style>
</head>

<div ng-controller="BudgetsCtrl">
     <div class="well well-sm">
           <p tabindex="4" style="font-size:25px; font-weight:bold" ng-class="getClass(left)">Balance: {{left | currency}}</p>
     </div>
    
    <div>
            <table class="table">
            <tr>
                <th>Name</th>
                <th>Amount</th>
                <th>Category</th>
                <th></th>
            </tr>
            <tr ng-repeat="t in transactions" class="transactionRow">
                <td ng-click="editable(t, 'name', true)" my-focus>
                    <input class="form-control" ng-show="showEdit(t, 'name')" ng-model="t.Name" ng-blur="editable(t, 'name', false)" />
                    <span ng-show="!showEdit(t, 'name')">{{t.Name}}</span>
                </td>
                <td ng-class="getClass(t.Amount)" ng-click="editable(t, 'amount', true)" my-focus >
                    <input class="form-control" ng-show="showEdit(t, 'amount')" ng-model="t.Amount" ng-blur="editable(t, 'amount', false)" />
                    <span ng-show="!showEdit(t, 'amount')">{{t.Amount | currency}}</span>
                </td>
                <td  ng-click="editable(t, 'category', true)" my-focus>
                    <div style="display:inline-block; width: 90%">
                        <input class="form-control"  ng-show="showEdit(t, 'category')" ng-model="t.Category" ng-blur="editable(t, 'category', false)" />
                        <span ng-show="!showEdit(t, 'category')">{{t.Category}}</span>
                    </div>
             
                </td>
                <td style="position:relative">
                    <button class="showOnHover" style="border:none; background: transparent; position:absolute; right: 5px; top: 10px">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
            <tr>
                <td><input type="text" class="form-control" tabindex="1" ng-model="newName" id="newName"/></td>
                <td><input type="text" class="form-control" tabindex="2" ng-model="newAmount" /></td>
                <td><input type="text" class="form-control" tabindex="3" ng-model="newCategory" ng-blur="addTransaction()" /></td>
                <td></td>
            </tr>
    </table>
    </div>


</div>
</html>

<!--<script src="~/lib-->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="~/lib/angular/angular.js"></script>
<script src="~/js/BudgetsCtrl.js"></script>

